@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* max-width: 768px; */
  background-color: white;
  transition: background-color 0.3s ease;
}

html.dark body {
  background-color: black;
}
